langchain
python-dotenv
langchain_community
pypdf
beautifulsoup4
bs4
arxiv
pymupdf
langchain-text-splitters
pypdf
langchain-openai
chromadb
langchain-ollama
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_core
langchain_groq
fastapi
uvicorn
langserve
arxiv
wikipedia